@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.h4 {
  color: white;
}
:root {
  --grad-clr1: #db4437;
  --grad-clr2: #007bff;
  --grad-clr3: #f6fcff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #000000;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.button3 {
  color: var(--grad-clr1);
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #db4437;
}

a {
  text-decoration: none;
  color: var(--grad-clr2);
}

.sidebarbottom {
  padding-bottom: 30px;
  display: flex;
  align-self: flex-start;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

.content {
  width: 80%;
  height: 100%;
}

#content1 {
}

.hidden {
  display: none;
}

.card {
  padding: 20px;
  width: 20%;
  color: #848484;
  background-color: #151515;
  display: flex;
  border-radius: 17px;
  flex-direction: column;
  box-shadow: 0px 4px 30px -8px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
}

.card strong {
  color: white;
  font-family: poppins;
  font-weight: 400;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 35px -8px rgba(0, 0, 0, 0.35);
}

.card img {
  width: 100%;
  height: 150px;
  margin-bottom: 1vh;
}

.sect1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.headtitle {
  width: 100%;
}

.headtitle1 {
  padding-right: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headtitle p {
  font-size: 15px;
  font-weight: 200;
  color: #8a8a8a;
}

.headtitle2 {
  width: 50%;
}
.translation h4 {
  color: white;
  font-size: 23px;
  font-weight: 300;
}
.headtitle2 h1 {
  font-size: 50px;
  color: white;
  font-weight: 400;
}

.segmentation h4 {
  color: white;
  font-family: poppins;
  font-weight: 300;
  font-size: 23px;
}
.searchbar {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  background-color: #0f0f0f;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 70%;
  border-radius: 12px;
  box-shadow: 0px 0px 66px -8px rgba(0, 0, 0, 0.25);
}

.searchbar input {
  color: #8a8a8a;
  background-color: #0f0f0f;
}

.homepage {
  margin-left: 0%;
  width: 100%;
  padding: 3%;
}

input {
  width: 600px;
  outline: none;
  border: none;
}

.searchcontainer {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 10px;
}

.sect2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.close-btn {
  height: 60px;
  display: none;
  width: 20px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  gap: 1.2vw;
  color: black;
  padding: 20px;
  margin-top: 1vh;
}

.button2 {
  height: 60px;
  background-color: var(--grad-clr1);
  color: #fff;
  display: flex;
  justify-content: center;
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  width: 190px;
  align-items: center;
  gap: 10px;
}

.middlesec {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: -20vh;
}

.middlesec button {
  background-color: #000000;
  color: #363636;
}

button.active {
  background-color: #005bad;
  color: #fff;
}

button:hover {
  /* background-color: #d4edff; */
}

.title {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.titleheading {
  width: auto;
}

#content2 {
  padding: 3%;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.toggle-btn {
  display: none;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .toggle-btn {
    display: block;
    width: 50px;
    /* position: fixed; */
  }

  .sidebar {
    display: none;
    width: 50px;
  }

  .close {
    display: none;
  }

  .content {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 15% !important;
    height: 100vh !important;
    color: #fff !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    padding-bottom: 2vh !important;
    position: relative !important;
    transition: transform 0.3s ease !important;
  }

  .close-btn {
    display: none !important;
  }

  .toggle-btn {
    display: none !important;
  }
}

.drop-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-message {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.table-container {
  overflow-x: auto;
  margin-top: 5vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead {
  background-color: goldenrod;
  color: #fff;
}

thead th {
  padding: 12px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding-left: 20px;
  text-align: left;
}

#pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
}

#pagination button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  background-color: var(--grad-clr2);
  color: #fff;
  border: none;
  border-radius: 4px;
  width: auto;
}

#pagination #currentPage {
  margin-right: 10px;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.view-more {
  color: #fff;
  padding: 0px;
  margin: 10px;
  font-size: 0.9rem;
  border: none;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  width: auto;
}

.view-more:hover {
}

.red,
.green,
.gold,
.blue {
  padding: 20px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gold {
  background-color: goldenrod;
}

.blue {
  background-color: var(--grad-clr2);
}

.settings-grid {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.settings-card {
  padding: 30px;
  width: 26%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  box-shadow: 0px 4px 30px -8px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.settings-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.settings-card p {
  margin: 0;
  color: #666;
}

.settings-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 35px -8px rgba(0, 0, 0, 0.35);
}

.settings-header {
  display: flex;
  gap: 10px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#currentPageInfo {
  font-size: 1rem;
  margin: 0 10px;
}
