* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 0px;
  background-color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 50px;
  background-color: black;
}

.header img {
  margin-right: 29px;
}
.maincontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.title {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.title h2 {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: Inter;
  font-weight: 400px;
  font-size: 22px;
}

.svgContainer {
  background-color: #db4437;
  margin-right: 10px;
  margin-top: 3px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
}

.svg {
  font-size: 26px;
  color: #6d79a3;
  padding: 10px;
}

.btn-rescan {
  color: white;
  background-color: #db4437;
  padding: 9px 27px 9px 27px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.test {
  display: flex;
}

.btn-rescan2 {
  margin-bottom: 10px;
  color: white;
  background-color: #1366ff;
  padding: 9px 17px 9px 17px;
  border: none;
  width: 149px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-patient1 {
  color: white;
  background-color: #28d14d;
  padding: 9px 27px 9px 27px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-patient2 {
  color: white;
  background-color: #db4437;
  padding: 9px 27px 9px 27px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.btn-rescan:hover {
  opacity: 0.8;
  transition: ease-in 300ms;
}

.btn-rescan:active {
  transform: scale(0.96);
}
.patientdets {
  background-color: #101011;
  border-radius: 21px;
  padding: 20px;
}
main {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(240px, auto);
  background-color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.workarea {
  display: flex;
  flex-direction: column;
}

.OriginalImage {
  height: 440px;
  width: 320px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #01101a;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}
.TranslatedImage {
  height: 440px;
  width: 320px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #01101a;
  border-radius: 9px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}

.ReconstructedImage {
  height: 440px;
  width: 320px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-color: #01101a;
  border-radius: 9px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}

.OriginalImage img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.TranslatedImage img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.ReconstructedImage img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.predictedImage img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  display: block;
}

.predicted-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.predictedImage-text {
  color: white;
  background-color: #db4437;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;

  padding: 5px 10px;
  border-radius: 5px;
}
.predictionscores_sub {
  margin-right: 20px;
  font-family: poppins;
  font-weight: 400px;
  color: white;
}
.predictionscores_sub h3 {
  font-family: poppins;
  font-weight: 400;
}

.predictionscores_sub h5 {
  font-family: poppins;
  font-weight: 200;
  font-size: 21px;
}

.overlay-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay-container {
  position: absolute;
  bottom: 10px; /* Adjust positioning */
  left: 10px; /* Adjust positioning */
  display: flex;
  flex-direction: column;
}
/* Styling for the small rectangle */
.overlay-rectangle1 {
  width: 20px; /* Adjust size */
  height: 5px; /* Adjust size */
  background-color: rgba(255, 0, 0, 0.7); /* Rectangle color */
  margin-right: 10px; /* Space between rectangle and text */
}
.overlay-rectangle2 {
  width: 20px; /* Adjust size */
  height: 5px; /* Adjust size */
  background-color: rgba(12, 37, 254, 0.7); /* Rectangle color */
  margin-right: 10px; /* Space between rectangle and text */
}

.overlay-rectangle3 {
  width: 20px; /* Adjust size */
  height: 5px; /* Adjust size */
  background-color: rgba(0, 255, 64, 0.7); /* Rectangle color */
  margin-right: 10px; /* Space between rectangle and text */
}

/* Styling for the text beside the rectangle */
.overlay-text {
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 11px;
}

.predictionscores_sub h5 {
  font-family: poppins;
  font-weight: 300;
  font-size: 21px;
}
.predictionscores {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
}
.patientname h3 {
  font-size: 12px;
  color: #878788;
  font-weight: 200;
}

.patientname h5 {
  font-size: 16px;
  color: #878788;
  font-weight: 300;
}
.patientdets {
  width: 334px;
}

.patientage h3 {
  font-size: 12px;
  color: #878788;
  font-weight: 200;
}
.nameandage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.patientbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.patientid {
  color: #878788;
  margin-bottom: 10px;
}
.patientage h5 {
  font-size: 16px;
  color: #878788;
  font-weight: 300;
}
.patienttypeandname {
  color: white;

  margin-bottom: 10px;
}

.patienttypeandname h4 {
  font-size: 25px;
  font-family: poppins;
  color: white;
  font-weight: 200;
}
.patienttypeandname h6 {
  font-size: 14;
  font-weight: 200;
  color: #808080;
  font-family: poppins;
}
.accuracyContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  /* background-color: white; */
  border-radius: 9px;
  margin-bottom: 40px;
  /* box-shadow: -12px 10px 15px 15px rgba(0, 0, 0, 0.1); */
  padding-left: 14px;
}

.aC-heading h4 {
  color: #878787;
  font-size: 14px;
  font-family: Inter;
}

.aC-heading h2 {
  padding-top: 5px;
  font-family: Inter;
  font-weight: 200;
  color: white;
  font-size: 36px;
}

.aC-heading button {
  margin-top: 7px;
  background-color: #1366ff;
  cursor: pointer;
  padding: 7px 16px;
  border: none;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
}

.aC-heading button:hover {
  opacity: 0.8;
  transition: ease-in 300ms;
}

.aC-heading button:active {
  transform: scale(0.96);
}

.scan-type {
  margin-top: 5px;
}

.scan-type h2 {
  font-family: Inter;
  font-weight: 600;
  color: white;
}

.scan-type h4 {
  text-transform: capitalize;
  color: #c1c1c1;
  font-size: 13px;
  font-family: poppins;
  font-weight: 400;
}
.history {
  width: 334px;

  margin-right: 20px;
  font-family: Poppins;
  background-color: black;
}
.predictionscores_sub h3 {
  font-size: 14px;
  color: #898989;
}
.historytitle {
  margin-bottom: 10px;
  color: white;
}
.historytitle h5 {
  font-size: 28px;
  font-family: Poppins;
  color: white;
  font-weight: 400;
}

#scanned-count h6 {
  font-family: Poppins;
  color: #7a7a7a;
  font-size: 17px;
}
.historycontainersimage {
  border-radius: 10px;
  background-color: #00487f;
  width: 61px;
  height: 70px;
}

.historysub {
  height: 200px;
  overflow-y: auto;
  scrollbar-color: rgb(104, 104, 104) rgb(0, 0, 0);
  scrollbar-width: 20px;
  margin-bottom: 45px;
}
@media (max-width: 900px) {
  .historylabel {
    display: none;
  }
}

.hsitorycontainer h3 {
  font-size: 19px;
  font-weight: 300;
  font-family: poppins;
  color: white;
}

.hsitorycontainer h5 {
  font-size: 14px;
  font-weight: 300;
  font-family: poppins;
  color: #696464;
}

.historycontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.historylabel {
  width: 263px;
  height: 80px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #101011;
}

.historyimage {
  margin: 10px;
  height: 65px;
  width: 61px;
  border-radius: 10px;
  background-color: black;
}
.historylisttile {
  display: flex;
  flex-direction: row;
}
.historytitle h6 {
  font-size: 17px;
  color: #7a7a7a;
  font-family: poppins;
  font-weight: 200;
}
.progressbar {
  height: 3px;
  background-color: #049824;
}
.hsitorycontainerprogress {
  width: 263px;
  background-color: #28d14d;
  padding-top: 3px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 30px;
  margin-left: 10px;
}
.hsitorycontainerprogress h5 {
  font-size: 19px;
  font-weight: 300;
  font-family: poppins;
  color: white;
}

.hsitorycontainerprogress h6 {
  font-size: 14px;
  padding-top: 0px;
  font-family: poppins;
  color: white;
  font-weight: 100;
}

.predictionscores_sub h2 {
  font-size: 31px;
  color: white;
}
.predictionscores_sub h6 {
  font-size: 17px;
}

.scan-type h2 {
  font-size: 18px;
  font-weight: 200;
}

.medical-note {
  margin-top: 10px;
}

.medical-note h2 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
  color: #b8b8b8;
}

.medical-note p {
  color: #9e9e9e;
  font-size: 14px;
  font-family: Inter;
  font-weight: 300;
  width: 380px;
  padding-top: 3px;
}

.medical-note button {
  margin-top: 25px;
  background-color: #27d14d;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 26px;
  width: 60%;
}

.medical-note button:hover {
  opacity: 0.8;
  transition: ease-in 300ms;
}

.medical-note button:active {
  transform: scale(0.96);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: #c4c4c4;
    border-radius: 4px;
    overflow: hidden;
    position: relative; */
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  background-color: black; /* Optional background color */
}

#image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-item {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.add-image-container-next {
  background-color: #000c14;
}

.add-image-container-next button {
  background: transparent;
  border: none;
}

.plus-icon {
  font-size: 36px;
  color: #0996fc;
  padding-top: 17px;
  padding-left: 31px;
  padding-bottom: 17px;
  padding-right: 31px;
}
