{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mri_to_ct.css' %}" />
    <script
      src="https://kit.fontawesome.com/ddc04c24fc.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Brainr Classification</title>
    <style>
      #image-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        border-radius: 4px;
      }
      .image-item {
        width: 100px;
        border-radius: 10px;
        height: 100px;
        object-fit: cover;
      }
      .uploaded-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 10px;
        cursor: pointer;
      }

      .predicted-img {
        width: 100%;
        height: auto;
      }

      .predictedImage {
        text-align: center;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div id="flushbar">This is a flushbar-like notification!</div>
    <header class="header">
      <div class="title">
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo"
          width="60"
          height="60"
        />

        <h2>
          Image Translation<br />
          CT to MRI
        </h2>
      </div>
      <div class="header-btn">
        <button class="btn-rescan">Rescan</button>
      </div>
    </header>
    <main class="maincontainer">
      <div class="history">
        <div class="historytitle">
          <h5>History</h5>
          <h6 id="scanned-count">0 images scanned so far</h6>
        </div>
        <div class="historysub">
          <div class="hsitorycontainer" id="history-list">
            <!-- History items will be added here dynamically -->
          </div>
        </div>
        <div class="patientdets">
          <div class="nameandage">
            <div class="patientname">
              <h3>PATIENT NAME</h3>
              <h5>MICHAEL ADJEI ASANTE</h5>
            </div>
            <div class="patientage">
              <h3>AGE</h3>
              <h5>23</h5>
            </div>
          </div>
          <div class="patientid">ID: /984439992</div>
          <div class="patientbuttons">
            <button class="btn-patient1">Accept</button>
            <button class="btn-patient2">Decline</button>
          </div>
        </div>
      </div>
      <div class="workarea">
        <button id="btn-rescan" class="btn-rescan2">Convert to MRI</button>
        <div class="test">
          <div class="OriginalImage">
            <p class="predictedImage-text">Original CT</p>
          </div>
          <div class="TranslatedImage" id="TranslatedImage">
            <!-- <div id="zoom-mag"></div> -->
            <p class="predictedImage-text">Synthesized MRI</p>
          </div>
          <div class="ReconstructedImage">
            <p class="predictedImage-text">Reconstructed CT</p>
          </div>
        </div>
      </div>
      <div id="zoom-viewer">
        <img id="zoom-image" src="" width="3200" height="2400" />
      </div>
    </main>
    <footer>
      <div id="image-container"></div>

      <div class="image-container add-image-container-next">
        <input
          type="file"
          id="file-input"
          accept="image/*"
          multiple
          style="display: none"
        />
        <button id="upload-button">
          <i class="fa-solid fa-plus plus-icon"></i>
        </button>
      </div>
    </footer>
    <script>
      let scannedImages = [];
      const zoomTarget = document.getElementById("TranslatedImage");
      //   const zoomMag = document.getElementById("zoom-mag");

      const zoomViewer = document.getElementById("zoom-viewer");
      const zoomImage = document.getElementById("zoom-image");

      document
        .getElementById("upload-button")
        .addEventListener("click", function () {
          document.getElementById("file-input").click();
        });

      document
        .getElementById("file-input")
        .addEventListener("change", function (event) {
          const imageContainer = document.getElementById("image-container");
          imageContainer.innerHTML = "";

          const files = event.target.files;

          for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();
            reader.onload = function (e) {
              const img = document.createElement("img");
              img.src = e.target.result;
              img.classList.add("image-item");
              imageContainer.appendChild(img);

              const textOverlay = document.createElement("p");
              textOverlay.classList.add("predictedImage-text");
              textOverlay.textContent = "Original CT";

              img.addEventListener("click", function () {
                const predictedImageContainer =
                  document.querySelector(".OriginalImage");
                predictedImageContainer.innerHTML = "";
                const TranslatedImageDiv =
                  document.querySelector(".TranslatedImage");
                TranslatedImageDiv.innerHTML = "";
                const ReconstructedImageDiv = document.querySelector(
                  ".ReconstructedImage"
                );
                ReconstructedImageDiv.innerHTML = "";
                const clonedImg = img.cloneNode(true);
                clonedImg.classList.add("predicted-img");
                clonedImg.style.width = "320px";
                clonedImg.style.height = "350px";
                clonedImg.style.objectPosition = "center";
                clonedImg.style.objectFit = "contain";
                // // predictedImageContainer.style.display = "flex";
                // predictedImageContainer.style.justifyContent = "center";
                // predictedImageContainer.style.alignItems = "center";
                predictedImageContainer.appendChild(clonedImg);
                predictedImageContainer.appendChild(textOverlay);
              });
            };
            reader.readAsDataURL(file);
          }
        });

      document
        .getElementById("btn-rescan")
        .addEventListener("click", async function () {
          const container = document.querySelector(".OriginalImage");
          const img = container.querySelector("img");

          if (img) {
            console.log("image found");
            try {
              const response = await fetch(img.src);
              const blob = await response.blob();

              const formData = new FormData();
              formData.append("file", blob, "image.png");

              const uploadResponse = await fetch(
                "http://localhost:8000/mritoct",
                {
                  method: "POST",
                  body: formData,
                }
              );

              if (uploadResponse.ok) {
                const result = await uploadResponse.json();
                const ct2mri = result.ct_to_mri;
                const mri2ct = result.mri_to_ct;
                const ssim = result.ssim;

                // const overlayData = result.color_code;
                scannedImages.push({
                  image: mri2ct,
                  ssim: ssim,
                });

                updateHistory();

                // Create an img element and set its source to the Base64 string

                const zoomMag = document.createElement("div");
                const TranslatedImageholder = document.createElement("div");
                TranslatedImageholder.id = "transholder";

                zoomMag.id = "zoom-mag";
                const mri2ctImage = document.createElement("img");
                mri2ctImage.src = `data:image/png;base64,${mri2ct}`;

                const ct2mriImage = document.createElement("img");
                ct2mriImage.src = `data:image/png;base64,${ct2mri}`;

                // Append the img element to the predictedImage div
                const textOverlay = document.createElement("p");
                textOverlay.classList.add("predictedImage-text");
                textOverlay.textContent = "Synthesized MRI";

                const zoomImage = document.getElementById("zoom-image");
                const zoomViewer = document.getElementById("zoom-viewer");

                // zoomViewer.style.display = "block";

                const TranslatedImageDiv =
                  document.querySelector(".TranslatedImage");
                TranslatedImageDiv.innerHTML = ""; // Clear any previous image
                TranslatedImageholder.appendChild(ct2mriImage);
                TranslatedImageDiv.appendChild(TranslatedImageholder);
                TranslatedImageDiv.appendChild(textOverlay);
                TranslatedImageDiv.appendChild(zoomMag);

                zoomImage.src = `data:image/png;base64,${ct2mri}`;

                const ReconstructedOverlay = document.createElement("p");
                ReconstructedOverlay.classList.add("predictedImage-text");
                ReconstructedOverlay.textContent = "Reconstructed CT";

                const ReconstructedImageDiv = document.querySelector(
                  ".ReconstructedImage"
                );
                ReconstructedImageDiv.innerHTML = ""; // Clear any previous image
                ReconstructedImageDiv.appendChild(mri2ctImage);
                ReconstructedImageDiv.appendChild(ReconstructedOverlay);

                initializeZoomEffect();
              } else {
                console.error("upload failed", uploadResponse.statusText);
              }
            } catch (e) {
              console.log(e);
            }
          } else {
            console.log("image not found");
          }
        });

      function updateHistory() {
        const historyList = document.getElementById("history-list");
        historyList.innerHTML = ""; // Clear existing items

        scannedImages.forEach((item, index) => {
          const historyContainer = document.createElement("div");
          historyContainer.className = "historycontainer";

          const historyImage = document.createElement("img");
          historyImage.className = "historyimage";
          historyImage.src = `data:image/png;base64,${item.image}`;
          historyContainer.appendChild(historyImage);

          const historyLabel = document.createElement("div");
          historyLabel.className = "historylabel";

          const historyTitle = document.createElement("h3");
          historyTitle.textContent = "Image Translation";
          historyLabel.appendChild(historyTitle);

          const historyConfidence = document.createElement("h5");
          historyConfidence.textContent = `${item.ssim.toFixed(
            3
          )} Similarity Index`;
          historyLabel.appendChild(historyConfidence);

          historyContainer.appendChild(historyLabel);
          historyList.appendChild(historyContainer);
        });

        document.getElementById("scanned-count").textContent = `${
          scannedImages.length
        } image${scannedImages.length > 1 ? "s" : ""} scanned so far`;
      }

      function initializeZoomEffect() {
        const zoomMag = document.getElementById("zoom-mag");

        const originalImage = document.querySelector(".OriginalImage");
        const transholder = document.getElementById("transholder");
        const reconstructedImage = document.querySelector(
          ".ReconstructedImage"
        );
        let enabled = false;

        function handlClick() {
          if (enabled == true) {
            zoomViewer.style.display = "block";
            originalImage.style.display = "none";
            reconstructedImage.style.display = "none";
            TranslatedImage.style.height = "350px";
            TranslatedImage.style.width = "350px";
            enabled = false;
            // alert("set to true");
          } else {
            zoomViewer.style.display = "none"; // Hide the zoom viewer on mouse leave
            originalImage.style.display = "block";
            reconstructedImage.style.display = "block";
            TranslatedImage.style.height = "440px";
            TranslatedImage.style.width = "320px";
          }
          //   alert("I got clicked!");
        }

        zoomMag.addEventListener("click", (e) => {
          e.stopPropagation();
          enabled = true;
          handlClick();
        });

        document.addEventListener("click", handlClick);
        zoomTarget.addEventListener("mousemove", showFlushbar());

        zoomTarget.addEventListener("mousemove", (e) => {
          e.preventDefault();

          // Calculate the x and y position in the target
          let rect = e.currentTarget.getBoundingClientRect();

          let x = e.clientX - rect.x;
          let y = e.clientY - rect.y;

          x -= zoomMag.offsetWidth / 2;
          y -= zoomMag.offsetHeight / 2;

          // Ensure the mag does not leave the target
          if (x < 0) x = 0;
          if (x > zoomTarget.offsetWidth - zoomMag.offsetWidth)
            x = zoomTarget.offsetWidth - zoomMag.offsetWidth;

          if (y < 0) y = 0;
          if (y > zoomTarget.offsetHeight - zoomMag.offsetHeight)
            y = zoomTarget.offsetHeight - zoomMag.offsetHeight;

          // Reposition the mag
          zoomMag.style.left = x + "px";
          zoomMag.style.top = y + "px";

          // Calculate the new position og the zoomed in image
          let xPercent = x / (zoomTarget.offsetWidth - zoomMag.offsetWidth);
          let yPercent = y / (zoomTarget.offsetHeight - zoomMag.offsetHeight);

          let imageX =
            (zoomImage.offsetWidth - zoomViewer.offsetWidth) * xPercent;
          let imageY =
            (zoomImage.offsetHeight - zoomViewer.offsetHeight) * yPercent;

          // Reposition the image
          zoomImage.style.left = -imageX + "px";
          zoomImage.style.top = -imageY + "px";
        });
      }

      function showFlushbar() {
        const flushbar = document.getElementById("flushbar");
        flushbar.className = "show";
        setTimeout(() => {
          flushbar.className = flushbar.className.replace("show", "");
        }, 4000); // Hide after 4 seconds
      }
    </script>
  </body>
</html>
